.overlay-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px); /* rozmazání pozadí */
    background-color: rgba(0, 0, 0, 0.4); /* tmavý průhledný filtr */
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
}

.overlay-background.show {
  display: flex;
}

.overlay-content {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    z-index: 1000;
}
