html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: #000;
    font-family: 'DM Mono', serif;
    color: #f0f0f0;
}

#businessCard {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
    background-color: #1c1c21;
    border: 2px solid #e22e57;
    border-radius: 10px;
    padding: 20px;
    align-items: stretch;
    width: 70%;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px;
}

#businessCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

#logoContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 40px;
}

#logo {
    max-height: 100%;
    width: auto;
}

#nameAndBasicInfo {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    align-items: center;
}

.label {
    text-transform: uppercase;
    font-size: 0.9em;
    color: #e22e57;
}

.labelGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#infoContainer {
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    gap: 10px;
}

#details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

#jobs {
    background-color: #74af00;
    padding: 20px;
    border-radius: 5px;
}

#company {
    display: grid;
    place-items: center;
}

#address {
    background-color: #009cea;
    padding: 20px;
    border-radius: 5px;
}

#contactInfo {
    background-color: #ffab00;
    padding: 20px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    #businessCard {
        grid-template-rows: auto 1fr;
        width: 90%;
    }

    #logoContainer {
        justify-content: center;
        height: auto;
    }

    #logo {
        width: 100%;
        height: auto;
    }

    #nameAndBasicInfo {
        grid-template-columns: 1fr;
    }

    #details {
        grid-template-columns: 1fr;
    }
}