body{ 
    font-family: "Montserrat", serif;
}
h1 {
    text-align: center;
    margin-top: 2rem;
}
label {
    display: block;
    margin: 10px 0;
}
input {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
}
.submit-btn {
    width:100%;
    margin-top: 1rem;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}
.form-container {
    height: fit-content;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.form-signup {
    width: 100%;
}

.profile-picture img{
    width: 100px;
    height: 100px;
    margin-left: 1rem;
    display: block;
    object-fit: cover; 
}
.card {
    padding: 1rem;
}