img {
    width: 100%;
}

a:active {
    color: rgb(0, 0, 0);
  }
a:visited {
    color: rgb(0, 0, 0);
  }
a:link {
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }

.upper-text p {
    margin-top: 0;
    margin-bottom: 0.3rem;
}

.down-text p {
    margin-top: 0;
    margin-bottom: 0.7rem;
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin: 10px auto;
}

.cardos {
    padding: 20px;
    background-color: #e1fca4;
    color: #000000;
    height: auto; 
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.down-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 20px;
    font-size: 17px;
}

.upper-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.name {
    font-size: 30px;
    font-weight: bold;
}


.year {
    font-size: 15px;
    font-weight: bold;
}

.profession {
    font-size: 20px;
    font-weight: bold;
}

.company {
    font-size: 15px;
    font-weight: bold;
}

.telephone {
        font-size: 13px;
        font-weight: bold;
}

.email {
    font-size: 13px;
    font-weight: bold;
}

.web {
    font-size: 13px;
    font-weight: bold;
}

.available {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.address {
    font-size: 13px;
    font-weight: bold;
}