body {
    background-color: rgb(222, 248, 222);
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 3rem;
}

form {
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 20px;
    min-width: 500px;
    background-color: white;

}

form > div > label {
    font-size: 26px;
}

.btn-primary {
    font-size: 20px;
    padding: 0.5rem 1.5rem;
    background-color:rgb(222, 248, 222);
    border-color: rgb(222, 248, 222);;
    color: black;
}

.btn-primary:hover {
    background-color:rgb(170, 189, 170);
    border-color: rgb(170, 189, 170);
}

.btn-secondary {
    font-size: 20px;
    padding: 0.5rem 1.5rem;
    background-color:rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    color: white;
}

.btn-secondary:hover {
    background-color:rgb(170, 189, 170);
    border-color: rgb(170, 189, 170);
}
    

#passwordHelpBlock {
    font-size: 14px;
}

.flex > a {
    margin: 1rem 0;
}

#successImg {
    height: 500px;
}

table {
    width: 600px;
}